body {
  font-family: 'Poppins', sans-serif;
  background-color: #0b2b3c;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

header {
  background-color: #00c4ff;
  padding: 50px 20px;
}

h2 {
  color: #00ffcc;
}

.calculator {
  background-color: #212529;
  padding: 40px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}
